{% load static compress %}
{% compress js %}
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-transition.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-alert.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-button.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-carousel.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-collapse.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-dropdown.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-modal.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-tooltip.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-popover.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-scrollspy.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-tab.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-typeahead.js" %}"></script>
<script type="text/javascript" src="{% static "components/bootstrap/js/bootstrap-affix.js" %}"></script>
{#<script type="text/javascript" src="{% static "components/jquery-pjax/jquery.pjax.js" %}"></script>#}
<script type="text/javascript" src="{% static "components/underscore/underscore.js" %}"></script>
<script type="text/javascript" src="{% static "components/backbone/backbone.js" %}"></script>
<script type="text/javascript" src="{% static "components/json2/json2.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/ajax.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/forms.js" %}"></script>
<script type="text/javascript" src="{% static "js/modules/app.js" %}"></script>
<script type="text/javascript" src="{% static "js/script.js" %}"></script>
{% endcompress %}